<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Demo!{% endblock %}</title>
</head>
<body>

<table width="500" border="1">
    <tr>
        <td>
            {{ advert.name }}
        </td>
    </tr>
    <tr>

        <td>
            {% if advert.image > '' %}
                <img src="/images/{{ advert.image }}">
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {{ advert.body }}
        </td>
    </tr>
</table>
<br/>
<a href="/"><< Назад</a><br/>
</body>
</html>
